<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pruebacomercio">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".OfertasMensuales">
        </activity>

        <activity android:name=".RopaUno">
        </activity>

        <activity android:name=".CalzadoUno">
        </activity>

        <activity android:name=".TecnoUno">
        </activity>

        <activity android:name=".HogarUno">
        </activity>

        <activity android:name=".AutoUno">
        </activity>

        <activity android:name=".JuguetesUno">
        </activity>

        <activity android:name=".DeportesUno">
        </activity>

        <activity android:name=".BellezaUno">
        </activity>

        <activity android:name=".FerreteriaUno">
        </activity>


    </application>

</manifest>